@import url(https://fonts.googleapis.com/css?family=Khula:700);
/* color scheme for the webpage {color: should be background #E4C666 should be headers #247E6C should be links #A9C6DE 
    could be for special content#EAF5FF;} */
html {
    scroll-behavior: smooth;
}

body {
    /* background-color: #ececec; */
    font-size: 18px;
    font-family: Khula, 'Times New Roman', sans-serif;
    margin: 0;
    padding: 0; 
    background-color: #d9e4f5;
}

h1 {
    font-size: 40px;
    font-family: Khula,'Times New Roman', sans-serif;
    margin: 10px;
    line-height: 1;
    text-align: center;
    color: black;
    background-image: url("../images/beach.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    /* background-attachment: fixed;
    background-position: center;
    background-size: cover; */
    padding: 40px;

}

h2{
    font-size: 25px;
    font-family: Khula,'Times New Roman', sans-serif;
    margin: 20px 10px 0;
    color: #0c084c;
    text-align: left;
}


p{
    text-align: center;
    padding: 25px;
    margin: 10px;
    color: #0c084c;
}

a{
    text-decoration: none;
    padding: 15px;
}


nav ul{
    list-style-type: none;
}

nav li{
    padding-bottom: 10px;
    padding-top: 4px;
}

nav a{
    /* color of the list links in nav bar */
    color: #0c084c;
}

nav a:hover{
    text-decoration: underline;
}

nav .current{
    color: purple;
}

.desktop_nav{
    display:none;
}

.mobile_nav{
    position:relative;
    overflow:hidden;
    background-color: white;
    box-shadow: 1px 2px 5px rgb(169,169,169);
}

#opennav{
    color: #5560aa;
    background: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 40px;
    margin: 10px;
}

.mobile_nav #mobile{
    display: none;
}

.mobile_nav a{
    padding: 5px 14px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    display: block;
}

.mobile_nav a.mobile {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.mobile_nav a:hover {
    background-color: #ddd;
    color: black;
}

.skip a{
    /*“skip to content” link is hidden until in focus */
    background: white;
    left: 0;
    padding: 6px;
    position: absolute; /*position relative to the parent*/
    /*'skip to content' link is placed 40px higher unless focused by user*/
    top: -40px;     
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

.skip a:focus{
    /*'skip to content' link should be positioned at the top. */
    top:0;
}           

a:focus{    
    border: 2px solid purple;
}


.nav{
    text-align: center;
    background-color: white;
}

/* puts logo at top of page */
#mobile_logo{
    float: initial;
    width: 50px;
}

/* eliminates animation for mobile and tablet */
.console-container{
    display: none;
}

.console-underscore {
    display: none;
}

.about-image img, .projects-image img, .work-image img, .contact-image img{
    opacity: 95%;
    border-radius: 5px 5px 0 0;
}


.about, .work, .contact, .projects {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 72%;
    border-radius: 5px;
    flex: 0 0 auto;
    background-color: #e1e9f3;
}

.cards > div{
    margin: 30px;
}

.about:hover, .work:hover, .contact:hover, .projects:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.textblock {
    padding: 2px 16px;
}

.textblock p{
    margin: 0;
    padding: 10px 0;
    text-align: left;
    font-size: 19px;
    color: #0c084c;
}

.textblock a{
    color: purple;
    padding: 0;
}

.textblock h3{
    margin: 10px 0;
    font-size: 23px;
}

.cards{
    display: flex;
    padding: 10px;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 20px;
    background-color: #c7d8ea ;

}

footer {
    color: #0c084c;
    font-size: 16px;
    text-align: center;
}

footer p {
    padding: 10px;
}

footer h4{
    color: rgb(12, 8, 76);
}

footer input {
    background-color: #c7d8ea;
    font-family: Khula, 'Times New Roman', sans-serif;
    border-width: 0;
    border-radius: 5px;
    text-align: center;
    margin: 0;
    color: rgb(12, 8, 76);
}

input[type=submit] {
    background-color: #a7c3e0;
    border: none;
    color: black;
    text-align: center;
    font-size: 10px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 5px;
    border-radius: 5px;
  }

  input[type=submit]:hover{
      background-color: #5560aa;
  }


/* About Page styling */

.parallax h1 {
    /* position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    letter-spacing: 10px;
    text-align: center;
    margin: 0;
    padding: 10px 0; */
}

.intro-text-block p, .second-text-block p, .third-text-block p{
    text-align: center;
    font-size: 16px;
    margin: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 72%;
    border-radius: 5px;
    background-color: #e1e9f3;
}

.third-text-block a{
    padding: 0;
}



/* Projects/ Work Pages */

 
/* Gallery on Project Page */

 .project-gallery{
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 500px;
  }

  .project-gallery .michigan, .arduino_board, .camp_davis, .yaxunah{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    margin: 20px;
    width: 300px;
    background-color: #e1e9f3;
}

.project-gallery .michigan h3, .arduino_board h3, .camp_davis h3, .yaxunah h3{
    margin: 15px;
    color: rgb(12, 8, 76);
}

  #photo2{
    width: 90%;
}


/* Gallery on Work Page */

  .resume{
      font-size: 24px;
      margin: 12px 0;
      text-align: center;
  }

  .work-gallery{
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 500px;
  }

  .work-gallery .lab, .yard, .housing, .abc_solutions, .design, .facilitation, .habitat, .climate_blue, .humanity_first{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    margin: 10px;
    width: 300px;
    background-color: #e1e9f3;
  }

  .work-gallery .lab h3, .yard h3, .housing h3, .abc_solutions h3, .design h3, 
  .facilitation h3, .habitat h3, .climate_blue h3, .humanity_first h3{
      margin: 15px;
      color: rgb(12, 8, 76);
  }

  #photo {
      width: 100%;
  }

  .button{
      background-color: rgb(12, 8, 76);
      border: none;
      color: white;
      text-align: center;
      display: table;
      font-size: 22px;
      box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
      margin: auto;
  }

  .button_class{
      display: inline-block;
  }


  /* contact page */
  .triangledowntxt{
      position: relative;
      display: inline-block;
      height: 50px; 
      width: 97%;
      text-align: center;
      color: white;
      background-color: rgb(12, 8, 76);
      line-height: 50px;
      text-decoration: none;
      padding-bottom: 30%;
      background-clip: content-box;
      overflow: hidden;
      margin: 0 10px;
      text-transform: uppercase;

  }

  .triangledowntxt:after{
    content: "";
    position: absolute;
    top:50px;  
    left: 0;
    background-color: inherit;
    padding-bottom: 50%;
    width: 57.7%;
    z-index: -1;
    transform-origin: 0 0;
    transform: rotate(-30deg) skewX(30deg);
  }

  legend{
    margin: 15px 30px;
  }

  label[name="firstname"], label[name="lastname"], label[name="email"], label[name="message"], label[name="funQ"]{
      margin: 10px;
  }

  #funQ {
      margin: 10px;
  }

  #funQ h3 {
      text-align: center;
  }

  input[name="firstname"], input[name="lastname"], input[name="email"], input[name="message"], input[name="region"] {
      font-size: 10px;
      padding: 10px;
      font-family: Khula, 'Times New Roman', sans-serif;
      margin: 10px 10px 16px;
      width: 85%;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      border-radius: 5px;
      border: 1px solid #cccc;
      box-sizing: border-box;
      resize: vertical;
  }

  input[name="contactpg"] {
    background-color: rgb(12, 8, 76);
    border: none;
    color: white;
    text-align: center;
    display: table;
    font-size: 17px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    margin: auto;
    padding: 12px;
    border-radius: 5px;
  }

  input[name="contactpg"]:hover{
      background-color: #5560aa;
  }

@media screen and (min-width: 765px){
    .container{
        display: grid;
        justify-self: center;
        align-self: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-gap: 0;
        width: 100vw;
    }

    /* styling for index/ home page */
    #main{
        grid-row: 2/ span 1;
        grid-column: 1/ -1;
    }

    .mobile_nav{
        grid-column: 1/ -1;
        grid-row: 1/ span 1;
        text-align: center;
    }

    nav li{
        padding-right: 20px;
        display: inline-block;
      }

    h1{
        grid-column: 1/ -1;
        grid-row: 2/ span 1;
    }

    h2{
        grid-column: 1/ -1;
        grid-row: 3/ span 1;
        margin-left: 20px;
    }

    .cards{
        grid-column: 1/ -1;
        grid-row: 4/ span 1;
    }

    footer{
        grid-column: 1/ -1;
        grid-row: 5/ span 1;
        padding-bottom: 20px;
    }
    
      /* contact page */    
    input[name="firstname"], input[name="lastname"], input[name="email"], input[name="message"], input[name="region"]{
        margin-left: 40px;
    }

    label[name="firstname"], label[name="lastname"], label[name="email"], label[name="message"], label[name="funQ"]{
        margin-left: 30px;
    }

    h4{
        margin: 10px;
    } 
}


@media screen and (min-width: 1024px){
    .container{
        display: grid;
        justify-self: center;
        align-self: center;
        grid-template-columns: 20px 1fr 1fr 1fr 1fr 20px;
        grid-template-rows: auto auto auto auto auto;
        grid-column-gap: 0;
        width: 100vw;
    }

    .mobile_nav{
        display: none;
    }

    .desktop_nav {
        display:grid;
        grid-column: 1/ -1;
        grid-row: 1/ span 1;
        text-align: center;
        font-size: 36px;
        background-color: white;
    }

    #desktop_logo{
        width: 60px;
        float: left;
        padding-right: 20px;
        margin-left: 10px;
    }
    
    /* start of animation text */ 
    /* .hidden {
        opacity: 0;
    }

    .console-container {
        font-family: Khula;
        font-size: 4em;
        text-align: center;
        height: 200px;
        width: 100%;
        display: block;
        position: absolute;
        color:black; 
        top: -200px;
        bottom: -75px;
        left: 0;
        right: 0;
        margin: auto;
        grid-column: 1/ -1;
        grid-row: 2/ span 1;
    }
    .console-underscore {
        display: inline-block;
        position: relative;
        top: -0.14em;
        left: 10px;
    } */
    /* end of animation text */ 

    #index{
        grid-column: 1/ -1;
        grid-row: 2/ span 1;
    }

    h2{
        grid-column: 1/ span 2;
        grid-row: 3/ span 1;
        margin-left: 20px;
    }

    .cards{
        grid-column: 2/ -2;
        grid-row: 4/ span 1;
    }

    .about, .work, .contact, .projects {
        width: 28%;
    }

    .textblock p{
        font-size: 18px;
    }

    .cards > div{
        margin: 20px 50px;
    }
    
    .about:hover, .work:hover, .contact:hover, .projects:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2);
    }

    footer{
        grid-column: 1/ -1;
        grid-row: 5/ span 1;
        padding-bottom: 20px;
    }

    /* about page */
    .intro-text-block p, .second-text-block p, .third-text-block p{
        font-size: 18px;
    }

    
      /* contact page */ 
      
    .triangledowntxt{
        width: 98%;
        padding-bottom: 50px;  
    }
  
    .triangledowntxt:after{
      left: 49%;
      padding-bottom: inherit;
    }
  
    legend{
      margin: 15px 30px;
    }
  
    label[name="firstname"], label[name="lastname"], label[name="email"], label[name="message"], label[name="funQ"]{
        margin: auto;
        display: flex;
    }
  
    #funQ h4 {
        text-align: center;
    }
  
    input[name="firstname"], input[name="lastname"], input[name="email"]{
        width: 50%;
    }

    input[name="firstname"], input[name="lastname"], input[name="email"], input[name="message"], input[name="region"]{
        font-size: 12px;
    }

    h4{
        margin: 10px;
    } 

    
@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; 
        animation: none;
    }
  
    .skip a{
      background: white;
      left: 0;
      padding: 6px;
      position: absolute;
      top: -40px;
      -webkit-transition: initial;
      transition: initial;
      z-index: 1;
    }
  
    .skip a:focus{
      top:0;
    }
  }

  /* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
/* @media only screen and (max-device-width: 1024px) {
    .parallax {
      background-attachment: scroll;
    }
  } */

/* FOR REDUCED MOTION, NEED TO REMOVE ALL ANIMATION, SCROLLING AND TRANSITIONS */
}
