html{
    scroll-behavior: smooth;
}

body{
  background-color: white;
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: grey;
}

h1{
  font-size: 70px;
  line-height: 1;
  padding: 0px 100px 0px 100px;
  text-align: left;
}

h2{
  font-size: 32px;
  line-height: 1.5;
}

nav ul{
  list-style-type: none;
}

nav li{
  /* displays list items horizontally with padding on right side */
  padding-right: 20px;
  display: inline-block;
}

nav a{
  color: white;
  font-weight: bold;
  text-decoration: none; 
}

nav a:hover{
  /* underlines nav links only when user hovers over it */
  text-decoration: underline; 
}

.skip a{
  /*“skip to content” link is hidden until in focus */
  background: white;
  left: 0;
  padding: 6px;
  position: absolute; /*position relative to the parent*/
  /*'skip to content' link is placed 40px higher unless focused by user*/
  top: -40px;     
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus{
  /*'skip to content' link should be positioned at the top. */
  top:0;
}

a:focus{
  /*puts a 2px black border around all elements in focus.*/
  border: 2px solid black;
}


footer{
  background-color: #08B6CE;
  color: white;
  grid-column: 2 / -2;  /*starts footer at column one and spans the full page*/
  grid-row: 7 / span 1;  
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}


.container{
  justify-self: center;
  align-self: center;
  display: grid;
  /* grid-row-gap: 15px; */
  grid-template-columns: 100px 500px 100px;
  grid-template-rows: auto auto 30px auto auto auto 100px; 
  width: 100vw; 
}

.nav{
  /* left aligns and centers navigation vertically w/ padding on top and bottom */
   grid-row: 3/ span 1;
   grid-column: 1/-1;
   background-color: #08B6CE;
   padding: 60px 0; 
   text-align: left; 
}

header{
  background-attachment: fixed; /* Parallax effect */
  background-image: url("../images/beach.jpg");  /*Links header.jpg in the images folder */
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  color: white;
  height: 100px;                /* Parallax effect */
  /*header covers the entire width (of page) */
  width: 100%;
  grid-row: 1/ span 2;
  grid-column: 2/ -2;
}

header p{
  color: white;
  font-size: 24px;
  padding: 3px 100px;
  text-align: left;
}

.about-image{
  grid-row: 3/ span 1;
  grid-column: 1/ -1;
  max-height: 700px;
  /* overflow: hidden; */
  width: 100%;
}

.about{
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.method-image{
  grid-column: 1 / -1;
  grid-row: 4/ span 1;
  max-height: 700px;
  overflow: hidden;
}

.method{
    grid-column: 2/ span 1;
    grid-row: 4/ span 1;

}

/* .clients-image{
  grid-row: 5/ span 1;
  grid-column: 1 / -1;
  max-height: 700px;
  overflow: hidden;
  width: 100%;
}

.clients{
  grid-column: 2 / span 1;
  grid-row: 5/ span 1;
} */

.contact-image{
  grid-row: 6/ span 1;
  grid-column: 1/ -1;
  max-height: 700px;
  overflow: hidden;
  width: 100%;
}

.contact{
   grid-column: 2/ span 1;
   grid-row: 6 / span 1;
}

.text-block{
  justify-self: left;
  align-self: left;
  z-index: 100;
  /* background-color: rgba(255, 255, 255, .8); */
  /* border: 10px solid black; */
  padding: 30px 100px 0px 30px;
}

@media screen and (min-width: 800px) {
  .container{
    grid-template-columns: 100px auto auto 100px;
    grid-template-rows: 30px 70px 30px 400px 400px;
  }  

  .nav{
    
    background-color: #08B6CE;
    grid-row: 3 / 4;
    grid-column: 2/ span 2;
    padding: 10px 100px 10px 100px; 
    text-align: center;
  }

  .about-image{
    grid-row: 4/ span 1;
    grid-column: 2/ span 1;
    max-height: 400px;
    overflow: hidden;
    width: 100%;
    background-size: 100% 100%;
    /* background-repeat: no-repeat; */
  }

  .about{
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
  }

   .method-image{
    grid-row: 5/ span 1;
    grid-column: 2/ span 2;
    max-height: 400px;
    overflow: hidden;
    width: 100%;
  }

  .method{
    grid-column: 2 / span 2;
    grid-row: 5 / span 1;
  }

  /* .clients-image{
    grid-row: 5/ span 1;
    grid-column: 2/ span 2;
    max-height: 700px;
    overflow: hidden;
    width: 100%;
  }

  .clients{
    grid-column: 3 / span 2;
    grid-row: 5 / span 1;
  }  */

  .contact-image{
    grid-row: 4/ span 1;
    grid-column: 3/ span 1;
    max-height: 400px;
    overflow: hidden;
    width: 100%;
  }

  .contact{
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;
   }

}  /*End the media query*/


@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
      animation: none;
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: initial;/* Your code here - set to default setting */
    transition: initial;/* Your code here - set to default setting */
    z-index: 1;
  }

  .skip a:focus{
    top:0;
  }
}
